*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.banner{
    margin: 0 auto;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../resources/banner-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 120px;
}
.banner-info{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
}
.banner-mini-title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-main-title{
    font-size: 72px;
    font-weight: 900;
}
/* offer section */
.offer-section{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.offer-info{
    text-align: center;
    font-family: Inter;
    margin-bottom: 48px;
}
.offer-info h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255,0,0);
    margin-bottom: 48px;
}
.offer-info .mini-title{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255,0,0);
}
.offer-info .sub-title{
    font-size: 48px;
    font-weight: 700;
    color: rgb(7, 2, 17);
}
.offer-img{
    height: 500px;
    border: 4px dashed gray;
}

/* second-banner */
.second-banner{
    background-image:  linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../resources/second-banner.png');
    width: 1320px;
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 120px;
    border-radius: 16px;
}
.second-banner-info{
    margin-left: 126px;
}
.second-banner-info h1{
    font-family: Merriweather;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
    margin-bottom: 24px;
}
.second-banner-info p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.join-now-btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
}
.join-now-btn:hover{
    cursor: pointer;
}
/* place section */
.place-section{
    width:1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.place-section-info{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
   
}
.place-section-info span{
    color:rgb(255, 0, 0);
}
.place-section-info h1{
    text-align: center;
}
.place-section .join-now-btn{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* comming offer section */
.comming-offer{
    display: flex;
    width: 1320px;
    margin: 0 auto;
}
.first-col{
    display: flex;
    align-items:center;
    width: 493px;
    padding-right: 60px;
}
.second-col{
    width: 463px;
    height: 463px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-col div{
    border: 2px dashed gray;
}

.second-col img{
    width: 363px;
}
.third-col{
    width: 394px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
}
.third-col-info{
    padding-top:140px;
}
.mini-offer-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}
.mini-offer-main{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.mini-offer-info{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.third-col h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
/* holiday-section */
.holiday-section{
    width: 1320px;
    height: 986px;
    margin: 0 auto;
    margin-top: 120px;
}
.holiday-section .text-section{
    height: 260px;
    width: 1068px;
    text-align: center;
    margin-bottom: 67px;
}
.text-section .mini-title{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}
.text-section .main-title{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
}
.text-section .main-title span{
    color:rgb(255, 0, 0);
}
.text-section .holiday-info{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holiday-section .image-section{
    height: 662px;
    background-image: url('../resources/rectangle2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: cover; */
    display: flex;
    /* justify-content: space-between; */
}
.holiday-section .image-section .second{
    background-image: url('../resources/rectangle1.png');
    background-repeat: no-repeat;
    width:428px;
    height: 433px;
    display: flex;
    align-items: center;
}
.holiday-section .image-section .second div{
    position:absolute;
    left:50%;
    z-index: 1;
}
/* gift offer section */
.gift-section{
    width:1320px;
    margin:0 auto;
    margin-top: 120px;
}
.gift-section .mini-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.gift-section h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    }
.gift-section .gift-info{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}
.gift-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gift-cards .card{
    width:400px;
    margin-bottom: 24px;
}
.gift-cards .card:hover{
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width:40%; */
}

/* Subscribe */
.subscribe{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top: 120px;
    padding-left: 212px;
    padding-right: 212px;
}
.subscribe-container {
    text-align: center;
}
.subscribe-container input{
    padding: 15px 50px;
    border: none;
    margin-right: 0;
    border-top-left-radius:50px;
    border-bottom-left-radius: 50px;
}
.subscribe-container button{
    padding: 15px 30px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(255,0,0);
    color: white;
}
.subscribe h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}
.subscribe p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 22px;
    margin-bottom:40px;
}


/* footer section */
footer{
    background: rgb(7, 2, 17);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 120px;
}
.footer-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 200px;
    padding-top: 120px;
    padding-bottom: 49px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    
}
.social-media-icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 30px;
}
.social-media-icon img{
    margin: 10px;
    border: 1px dashed rgb(255, 255, 255);
}
.last-bottom-section{
    display: flex;
    justify-content: space-between;
    margin-top:98px;
    margin-right: 230px;
    margin-left: 140px;
    padding-bottom: 120px;
}


